.container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(to bottom right, #4f3a75, #d8988f);
  padding: 50px;
  border-radius: 10px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding: 0 20px;
  margin-bottom: 20px;
}

button {
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #fff;
  color: #4f3a75;
  font-weight: bold;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.profile-card {
  background: linear-gradient(to bottom right, #d8988f, #4f3a75);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

a:hover {
  border-bottom: none;
}
